page-adoption-one {
    .parallax-spacer{
      height: 25%
    }
    .parallax-div {
      height: 50%;
    }
    
    .parallax-scroller{
      height: 100%;
      background-color: transparent;
    }

    .scrolling-opaque {
      background-color: white;
    }

    .parallax-viewport {
      height: 400px;
      background-color: transparent;
    }

    .main-title {
      height: 100px;
      text-align: center;
    }

    .main-heading {
      height: 50px;
    }
    .main-block {
      height: 150px;
    }

    .spacer {
      height: 50px;
    }

    .final-spacer {
      height: 10%;
    }

    .blinky {
      animation: blinker 1s linear infinite;
    }

    .scroll-text {
      font-size: 10px;
      margin: 0px;
    }

    .icon-text {
      margin: 0px;
      padding: 0px;
    }
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }