page-kingdom-one {
    .header-image{
        background-image: url('https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950');
        height: 40vh;
        
        // transform;
    }

    .main-content {
        padding: 20px;
        background-color: white;
    }

    .parallax-css {
        height: 80%;
        top: 20vh;
        background-color: transparent;
    }

    .spacer {
        height: 100px;
    }
}
